<hr class="separator" id="<%= category.name %>">
<div class="category-section">
  <h2><%= category.section_title.html_safe %></h2>
  <p><%= category.description %></p>
  <% category.resources.each do |resource| %>
    <div class="resource-card">
      <%= link_to resource.url, class: "resource-link", target: "_blank" do %>
        <% if resource.photo? %>
          <%= cl_image_tag resource.photo, class: "resource-img" %>
        <% end %>
      <% end %>
      <div class="resource-info-box hidden-xs hidden-sm">
        <div class="resource-info">
          <h3><%= link_to resource.name, resource.url %></h3>
          <p><%= resource.description %></p>
          <% if user_signed_in? %>
            <%= link_to "Edit", edit_resource_path(resource)  %>
          <% end %>
        </div>
        <div class="resource-searches">
          <% if resource.common_searches.any? %>
            <p>
              <strong>I commonly search:</strong>
              <% resource.common_searches.each do |search| %>
                <code><%= search.text %></code>,
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
